# Ignore binary files:
pagerank
hits

# Ignore all .o:
*.o

# Ignore results:
*.pr
*.hits
*.csv

# Ignore all folders:
PR_*/
HITS_*/

# Ignore all data files:
data/*

# Except for the following ones:
!src/
!data/.gitkeep
